name: Cargo Build & Test

on:
  push:
    branches:
      - main

env: 
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Build CLI
        working-directory: ./cli
        run: cargo build --verbose
      - name: Build Data Science
        working-directory: ./data-science
        run: cargo build --verbose
      - name: Build Web API
        working-directory: ./web-api
        run: cargo build --verbose